@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */

/* Fonts and Color */

.merriweather{
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-primary{
    color: rgb(7, 2, 17)
}

.text-secondary{
    color: rgb(255, 0, 0);
}

.dark-1{
    color: rgba(7, 2, 17, 0.6);
}

.btn-primary{
    padding: 24px, 56px;
    color: #fff;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
}

/* Header */
header{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../assets/images/banner-image.png");
    background-repeat: no-repeat;   
    border-radius: 16px;
    text-align: center;
    margin-bottom: 120px;
}

/* Banner*/
.banner{
    padding: 177px 344px;
}
.banner-subtitle{
   color: rgb(255, 255, 255);
   font-size: 32px;
   font-weight: 400;
   line-height: 40px;
   margin-bottom: 16px;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; 
    letter-spacing: 2px;

}

/* Discount Banner */
.discount-banner{
    margin: 0 auto;
    max-width: 803px;
    height: 806px;
    margin-bottom: 120px;
}

.discount-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    margin-bottom: 48px;
}

.discount-details{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}

.discount-categories{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 48px;
}

/* Welcome Section */

.welcome{
    margin: 0 auto;
    width: 1320px;
    height: 600px;

    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../assets/images/Vectorrr.png);

    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 120px;

    
    
}

.welcome-content{
    padding-left: 126px;

}

.welcome-title{
    margin-top: 66px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 9px;
    text-align: left;
    margin-bottom: 24px;
}

.welcome-message{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.welcome button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;

    background: transparent;
    border: none;

    margin: 48px 32px;
}

.welcome-img img{
    margin-top: 77px;
    margin-right: 140px;
}

/* Event Details Section */

.event-details{
    margin: 0 auto;
    max-width: 1320px;
    padding: 105px 335px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-bottom: 120px;

}

.event-details h3{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}

.event-details span{
    color: rgb(255, 0, 0);
}

.event-details button{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    margin-top: 48px;
    width: 167px;
    height: 56px;
}

/* Coming Soon Section */

.coming-soon{
    max-width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    margin-bottom: 120px;
}

.content-1{
    width: 33%;
    margin: 104px 0px;
}

.c1-subtitle{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.c1-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.cs-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 46px;
}

.content-2{
    margin-left: 70px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 30px;
}

.content-3{
    width: 33%;
    padding-left: 118px;
    padding-top: 112px;
}

.c3-year{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 16px;
    margin-right: 0;
}



